@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HospitalProject.Models.ViewModels.ReportingPageViewModel

<link href="~/Content/Site.css" rel="stylesheet" />

@if (Model.IsEditable)
{
    <h2 class="textcenter top20">
        @Html.ActionLink("Create new report", "Create", "Reports")
    </h2>
}

<div class="wrapper-and ">


    <div class="d-flex justify-content-around">

        @foreach (var report in Model.Reports)
        {
            <div class="">
                <h2>
                    @Html.ActionLink(report.Title, "Index", "Reports", new { id = report.Id }, new { @class = "btn btn-lg" })
                </h2>
                <p>@report.Description</p>
                @if (Model.IsEditable)
                {
                    @Html.ActionLink("Edit", "Edit", "Reports", new { id = report.Id }, null)
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", "Reports", new { id = report.Id }, null)
                }
            </div>
        }
    </div>
</div>