@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HospitalProject.Models.ViewModels.PublicationPageViewModel
<link href="~/Content/Site.css" rel="stylesheet" />

@if (Model.IsEditable)
{
    <h2 class="textcenter top20">
        @Html.ActionLink("Create new Publication", "Create", "Publications", new { id = Model.Publication?.Id }, null)
    </h2>
}

<div class="wrapper-and margin-auto container  ">
    <div class=" d-flex justify-content-center ">
        @if (Model.Publication != null)
        {
            <div class="margin-auto grey-border textcenter inline-b ">
                <h2>@Model.Publication.Title</h2>
                <p>@Model.Publication.Body</p>

                @if (Model.IsEditable)
                {
                    @Html.ActionLink("Edit", "Edit", "Publications", new { id = Model.Publication.Id }, null)
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", "Publications", new { id = Model.Publication.Id }, null)
                }

            </div>
        }

        @foreach (var publication in Model.Children)
        {
            <div class="inline-b  margin-auto grey-border textcenter">

                <h2>
                    <p>@Html.ActionLink(publication.Title, "Index", "Publications", new { id = publication.Id }, new { @class = "btn btn-lg" })</p>
                </h2>

                @if (Model.IsEditable)
                {
                    @Html.ActionLink("Edit", "Edit", "Publications", new { id = publication.Id }, null)
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", "Publications", new { id = publication.Id }, null)
                }
            </div>
        }
    </div>


    @if (Model.Publication != null)
    {
        <div class="row">
            <p>
                @if (Model.Publication.ParentId == null)
                {
                    @Html.ActionLink("Back", "Index", "Publications", new { id = (int?)null }, new { @class = "btn btn-lg btn-primary" })
                }
                else
                {
                    @Html.ActionLink("Back", "Index", "Publications", new { id = Model.Publication.ParentId }, new { @class = "btn btn-lg btn-primary" })
                }
            </p>
        </div>
    }

</div> @*close row  *@
